<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2022.3.1" targetFramework="net48" />
  <package id="Nice3point.Revit.Extensions" version="2024.0.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2024.0.0" targetFramework="net48" />
</packages>